.CarouselWrapper
    position: relative
    display: flex
    flex-direction: column
    align-items: center

.ServicingCarousel
    max-width: 64rem
    width: 100%

.CarouselItemStyle
    display: flex
    align-items: center
    justify-content: center

    flex-basis: 33.3%
    width: 100%

    @media (max-width: 1024px)
        flex-basis: 50%

    @media (max-width: 768px)
        flex-basis: 55%

    @media (max-width: 692px)
        flex-basis: 100%

.ServiceCard
    display: flex
    justify-content: space-evenly
    flex-direction: column

    max-width: 350px
    max-height: 450px
    width: 100%
    height: 100%
    padding: 1.5rem
    color: #ffffff
    border-radius: 0.5rem
    background-size: cover
    background-position: center

.TitleStyle
    text-align: center
    font-size: 2.5rem
    font-weight: 500
    margin: 0

.UlStyle
    margin: 0
    padding-left: 1.25rem
    list-style: disc outside
    font-size: 1.2rem
    line-height: 1.625rem
    display: grid
    gap: .4rem

.stylesButton
    background: linear-gradient(90deg, #FBEC94 0%, #C7B54E 100%)
    border: none
    padding: 1.5rem
    border-radius: 5px
    color: #433A23
    font-weight: 600
    font-size: 1.2rem
    text-transform: uppercase
    cursor: pointer
    transition: transform 0.2s ease, opacity 0.2s ease

    &:hover
        transform: scale(1.05)
        opacity: 0.9
    &:active
        transform: scale(0.98)

.ButtonWrapper
    position: absolute
    bottom: -1.6rem
    left: 50%
    transform: translateX(-50%)
    z-index: 20
