.WrapperGoogleMaps
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    padding: 1rem
    margin-bottom: 2.5rem

    .TitleStyle
        font-size: 2.5rem
        font-weight: 500
        text-transform: uppercase
        color: #FBEC94

.cardGoogleMaps
    max-width: 530px
    width: 100%
    height: 370px
    padding: 0.4rem
    border-radius: 1rem

    background-color: #433A23

    .styleIframe
        width: 100%
        height: 100%
        border-radius: 1rem
