.WrapperGoogleMaps
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    margin-bottom: 2.5rem

.cardGoogleMaps
    width: 530px
    height: 370px

    background-color: #ffffff
