.wrapperFooter
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: column
    gap: 0.5rem

    padding: 1rem
    width: 100%
    height: 13rem
    background-color: #433A23

    .StyleLogoFooter
        width: 6rem
        height: 5.5rem

    .styleText

        font-size: 1rem
        color: #FFFFFF
        text-align: center
